<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>playerId</key>
		<integer>1</integer>
		<key>playerName</key>
		<string>David DeGea</string>
		<key>playerNationality</key>
		<string>Spanish</string>
		<key>playerAge</key>
		<integer>22</integer>
		<key>playerHeight</key>
		<real>1.93</real>
		<key>playerPosition</key>
		<string>GK</string>
		<key>ownerTeam</key>
		<string>Manchester United</string>
		<key>squadNo</key>
		<integer>1</integer>
		<key>profilePicture</key>
		<string>DavidDeGea.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<integer>2</integer>
		<key>playerName</key>
		<string>Joe Hart</string>
		<key>playerNationality</key>
		<string>English</string>
		<key>playerAge</key>
		<integer>25</integer>
		<key>playerHeight</key>
		<real>1.91</real>
		<key>playerPosition</key>
		<string>GK</string>
		<key>ownerTeam</key>
		<string>Manchester City</string>
		<key>squadNo</key>
		<integer>1</integer>
		<key>profilePicture</key>
		<string>Joe Hart.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<integer>3</integer>
		<key>playerName</key>
		<string>Peter Cech</string>
		<key>playerNationality</key>
		<string>Czech</string>
		<key>playerAge</key>
		<integer>30</integer>
		<key>playreHeight</key>
		<real>1.96</real>
		<key>playerPosition</key>
		<string>GK</string>
		<key>ownerTeam</key>
		<string>Chelsea</string>
		<key>squadNo</key>
		<integer>1</integer>
		<key>profilePicture</key>
		<string>PeterCech.jpg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<integer>4</integer>
		<key>playerName</key>
		<string>Wojciech Szczesny</string>
		<key>playerNationality</key>
		<string>Polish</string>
		<key>playerAge</key>
		<integer>22</integer>
		<key>playerHeight</key>
		<real>1.96</real>
		<key>playerPosition</key>
		<string>GK</string>
		<key>ownerTeam</key>
		<string>Arsenal</string>
		<key>squadNo</key>
		<integer>1</integer>
		<key>profilePicture</key>
		<string>WojciechSzczesny.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<integer>5</integer>
		<key>playerName</key>
		<string>Pepe Reina</string>
		<key>playerNationality</key>
		<string>Spanish</string>
		<key>playerAge</key>
		<integer>30</integer>
		<key>playerHeight</key>
		<real>1.85</real>
		<key>playerPosition</key>
		<string>GK</string>
		<key>ownerTeam</key>
		<string>Liverpool</string>
		<key>squadNo</key>
		<integer>1</integer>
		<key>profilePicture</key>
		<string>PepeReina.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>6</string>
		<key>playerName</key>
		<string>Thomas Vermaelen</string>
		<key>playerNationality</key>
		<string>Belgium</string>
		<key>playerAge</key>
		<string>27</string>
		<key>playerHeight</key>
		<string>1.78</string>
		<key>playerPosition</key>
		<string>DF</string>
		<key>ownerTeam</key>
		<string>Arsenal</string>
		<key>squadNo</key>
		<integer>5</integer>
		<key>profilePicture</key>
		<string>ThomasVermaelen.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>8</string>
		<key>playerName</key>
		<string>Laurent Koscielny</string>
		<key>playerNationality</key>
		<string>French</string>
		<key>playerAge</key>
		<string>27</string>
		<key>playerHeight</key>
		<string>1.85</string>
		<key>playerPosition</key>
		<string>DF</string>
		<key>ownerTeam</key>
		<string>Arsenal</string>
		<key>squadNo</key>
		<integer>6</integer>
		<key>profilePicture</key>
		<string>LaurentKoscielny.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>9</string>
		<key>playerName</key>
		<string>Sebastien Squillaci</string>
		<key>playerNationality</key>
		<string>French</string>
		<key>playerAge</key>
		<string>32</string>
		<key>playerPosition</key>
		<string>DF</string>
		<key>ownerTeam</key>
		<string>Arsenal</string>
		<key>squadNo</key>
		<integer>18</integer>
		<key>profilePicture</key>
		<string>SebastienSquillaci.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>10</string>
		<key>playerName</key>
		<string>John Terry</string>
		<key>playerNationality</key>
		<string>English</string>
		<key>playerAge</key>
		<string>32</string>
		<key>playerHeight</key>
		<string>1.88</string>
		<key>playerPosition</key>
		<string>DF</string>
		<key>ownerTeam</key>
		<string>Chelsea</string>
		<key>squadNo</key>
		<integer>26</integer>
		<key>profilePicture</key>
		<string>JohnTerry.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>11</string>
		<key>playerName</key>
		<string>David Luiz</string>
		<key>playerNationality</key>
		<string>Brazilian</string>
		<key>playerAge</key>
		<string>25</string>
		<key>playerHeight</key>
		<string>1.88</string>
		<key>playerPosition</key>
		<string>DF</string>
		<key>ownerTeam</key>
		<string>Chelsea</string>
		<key>squadNo</key>
		<integer>23</integer>
		<key>profilePicture</key>
		<string>DavidLuiz.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>12</string>
		<key>playerName</key>
		<string>Branislav Ivanovic</string>
		<key>playerNationality</key>
		<string>Serbia</string>
		<key>playerAge</key>
		<string>29</string>
		<key>playerHeight</key>
		<string>1.88</string>
		<key>playerPosition</key>
		<string>DF</string>
		<key>ownerTeam</key>
		<string>Chelsea</string>
		<key>squadNo</key>
		<integer>2</integer>
		<key>profilePicture</key>
		<string>BranislavIvanovic.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>13</string>
		<key>playerName</key>
		<string>Ashley Cole</string>
		<key>playerNationality</key>
		<string>English</string>
		<key>playerAge</key>
		<string>32</string>
		<key>playerHeight</key>
		<string>1.73</string>
		<key>playerPosition</key>
		<string>DF</string>
		<key>ownerTeam</key>
		<string>Chelsea</string>
		<key>squadNo</key>
		<integer>3</integer>
		<key>profilePicture</key>
		<string>AshleyCole.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>14</string>
		<key>playerName</key>
		<string>Nemanja Vidic</string>
		<key>playerNationality</key>
		<string>Serbia</string>
		<key>playerAge</key>
		<string>31</string>
		<key>playerHeight</key>
		<string>1.85</string>
		<key>playerPosition</key>
		<string>DF</string>
		<key>ownerTeam</key>
		<string>Manchester United</string>
		<key>squadNo</key>
		<integer>15</integer>
		<key>profilePicture</key>
		<string>NemanjaVidic.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>16</string>
		<key>playerName</key>
		<string>Patrice Evra</string>
		<key>playerNationality</key>
		<string>French</string>
		<key>playerAge</key>
		<string>31</string>
		<key>playerHeight</key>
		<string>1.75</string>
		<key>playerPosition</key>
		<string>DF</string>
		<key>ownerTeam</key>
		<string>Manchester United</string>
		<key>squadNo</key>
		<integer>3</integer>
		<key>profilePicture</key>
		<string>PatriceEvra.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>17</string>
		<key>playerName</key>
		<string>Rafael Da Silva</string>
		<key>playerNationality</key>
		<string>Brazilian</string>
		<key>playerAge</key>
		<string>22</string>
		<key>playerHeight</key>
		<string>1.73</string>
		<key>playerPosition</key>
		<string>DF</string>
		<key>ownerTeam</key>
		<string>Manchester United</string>
		<key>squadNo</key>
		<integer>21</integer>
		<key>profilePicture</key>
		<string>RafaelDaSilva.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>18</string>
		<key>playerName</key>
		<string>Vincent Kompany</string>
		<key>playerNationality</key>
		<string>Belgium</string>
		<key>playerAge</key>
		<string>27</string>
		<key>playerHeight</key>
		<string>1.91</string>
		<key>playerPosition</key>
		<string>DF</string>
		<key>ownerTeam</key>
		<string>Manchester City</string>
		<key>squadNo</key>
		<integer>33</integer>
		<key>profilePicture</key>
		<string>VincentKompany.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>19</string>
		<key>playerName</key>
		<string>Joleon Lescott</string>
		<key>playerNationality</key>
		<string>English</string>
		<key>playerAge</key>
		<string>30</string>
		<key>playerHeight</key>
		<string>1.88</string>
		<key>playerPosition</key>
		<string>DF</string>
		<key>ownerTeam</key>
		<string>Manchester City</string>
		<key>squadNo</key>
		<integer>6</integer>
		<key>profilePicture</key>
		<string>JoleonLescott.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>20</string>
		<key>playerName</key>
		<string>Aleksandar Kolarov</string>
		<key>playerNationality</key>
		<string>Serbia</string>
		<key>playerAge</key>
		<string>27</string>
		<key>playerHeight</key>
		<string>1.87</string>
		<key>playerPosition</key>
		<string>Df</string>
		<key>ownerTeam</key>
		<string>Manchester City</string>
		<key>squadNo</key>
		<integer>13</integer>
		<key>profilePicture</key>
		<string>AleksandarKolarov.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>21</string>
		<key>playerName</key>
		<string>Pablo Zabaleta</string>
		<key>playerNationality</key>
		<string>Argentina</string>
		<key>playerAge</key>
		<string>28</string>
		<key>playerHeight</key>
		<string>1.76</string>
		<key>playerPosition</key>
		<string>Df</string>
		<key>ownerTeam</key>
		<string>Manchester City</string>
		<key>squadNo</key>
		<integer>5</integer>
		<key>profilePicture</key>
		<string>PabloZabaleta.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>22</string>
		<key>playerName</key>
		<string>Daniel Agger</string>
		<key>playerNationality</key>
		<string>Denmark</string>
		<key>playerAge</key>
		<string>28</string>
		<key>playerHeight</key>
		<string>1.88</string>
		<key>playerPosition</key>
		<string>DF</string>
		<key>squadNo</key>
		<integer>5</integer>
		<key>ownerTeam</key>
		<string>Liverpool</string>
		<key>profilePicture</key>
		<string>DanielAgger.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>23</string>
		<key>playerName</key>
		<string>Jamie Carragher</string>
		<key>playerNationality</key>
		<string>English</string>
		<key>playerAge</key>
		<string>35</string>
		<key>playerHeight</key>
		<string>1.85</string>
		<key>playerPosition</key>
		<string>DF</string>
		<key>ownerTeam</key>
		<string>Liverpool</string>
		<key>squadNo</key>
		<integer>23</integer>
		<key>profilePicture</key>
		<string>JamieCarragher.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>24</string>
		<key>playerName</key>
		<string>Glen Johnson</string>
		<key>playerNationality</key>
		<string>English</string>
		<key>playerAge</key>
		<string>28</string>
		<key>playerHeight</key>
		<string>1.78</string>
		<key>playerPosition</key>
		<string>DF</string>
		<key>ownerTeam</key>
		<string>Liverpool</string>
		<key>squadNo</key>
		<integer>2</integer>
		<key>profilePicture</key>
		<string>GlenJohnson.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>25</string>
		<key>playerName</key>
		<string>Jose Enrique</string>
		<key>playerNationality</key>
		<string>Spanish</string>
		<key>playerAge</key>
		<string>27</string>
		<key>playerHeight</key>
		<string>1.84</string>
		<key>playerPosition</key>
		<string>DF</string>
		<key>ownerTeam</key>
		<string>Liverpool</string>
		<key>squadNo</key>
		<integer>3</integer>
		<key>profilePicture</key>
		<string>JoseEnrique.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>26</string>
		<key>playerName</key>
		<string>Stewart Downing</string>
		<key>playerNationality</key>
		<string>English</string>
		<key>playerAge</key>
		<string>28</string>
		<key>playerHeight</key>
		<string>1.80</string>
		<key>playePosition</key>
		<string>MF</string>
		<key>ownerTeam</key>
		<string>Liverpool</string>
		<key>squadNo</key>
		<integer>19</integer>
		<key>profilePicture</key>
		<string>StewartDowning.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>27</string>
		<key>playerName</key>
		<string>Steven Gerrard</string>
		<key>playerNationality</key>
		<string>English</string>
		<key>playerAge</key>
		<string>32</string>
		<key>playerHeight</key>
		<string>1.85</string>
		<key>playerPosition</key>
		<string>MF</string>
		<key>ownerTeam</key>
		<string>Liverpool</string>
		<key>squadNo</key>
		<integer>8</integer>
		<key>profilePicture</key>
		<string>StevenGerrard.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>28</string>
		<key>playerName</key>
		<string>Jordan Henderson</string>
		<key>playerNationality</key>
		<string>English</string>
		<key>playerAge</key>
		<string>22</string>
		<key>playerHeight</key>
		<string>1.82</string>
		<key>playerPosition</key>
		<string>MF</string>
		<key>ownerTeam</key>
		<string>Liverpool</string>
		<key>squadNo</key>
		<integer>14</integer>
		<key>profilePicture</key>
		<string>JordanHenderson.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>29</string>
		<key>playerName</key>
		<string>Joe Allen</string>
		<key>playerNationality</key>
		<string>Wales</string>
		<key>playerAge</key>
		<string>23</string>
		<key>playerHeight</key>
		<string>1.68</string>
		<key>playerPosition</key>
		<string>MF</string>
		<key>ownerTeam</key>
		<string>Liverpool</string>
		<key>squadNo</key>
		<integer>24</integer>
		<key>profilePicture</key>
		<string>JoeAllen.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>30</string>
		<key>playerName</key>
		<string>Michael Carrick</string>
		<key>playerNationality</key>
		<string>English</string>
		<key>playerAge</key>
		<string>31</string>
		<key>playerHeight</key>
		<string>1.83</string>
		<key>playerPosition</key>
		<string>MF</string>
		<key>ownerTeam</key>
		<string>Manchester United</string>
		<key>squadNo</key>
		<integer>16</integer>
		<key>profilePicture</key>
		<string>MichaelCarrick.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>31</string>
		<key>playerName</key>
		<string>Tom Cleverley</string>
		<key>playerNationality</key>
		<string>English</string>
		<key>playerAge</key>
		<string>23</string>
		<key>playerHeight</key>
		<string>1.75</string>
		<key>playerPosition</key>
		<string>MF</string>
		<key>ownerTeam</key>
		<string>Manchester United</string>
		<key>squadNo</key>
		<integer>23</integer>
		<key>profilePicture</key>
		<string>TomCleverley.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>32</string>
		<key>playerName</key>
		<string>Shinji Kagawa</string>
		<key>playerNationality</key>
		<string>Japanese</string>
		<key>playerAge</key>
		<string>24</string>
		<key>playerHeight</key>
		<string>1.72</string>
		<key>playerPosition</key>
		<string>MF</string>
		<key>ownerTeam</key>
		<string>Manchester United</string>
		<key>squadNo</key>
		<integer>26</integer>
		<key>profilePicture</key>
		<string>ShinjiKagawa.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>33</string>
		<key>playerName</key>
		<string>Luis Nani</string>
		<key>playerNationality</key>
		<string>Portugal</string>
		<key>playerAge</key>
		<string>26</string>
		<key>playerHeight</key>
		<string>1.75</string>
		<key>playerPosition</key>
		<string>MF</string>
		<key>ownerTeam</key>
		<string>Manchester United</string>
		<key>squadNo</key>
		<integer>17</integer>
		<key>profilePicture</key>
		<string>LuisNani.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>34</string>
		<key>playerName</key>
		<string>David Silva</string>
		<key>playerNationality</key>
		<string>Spanish</string>
		<key>playerAge</key>
		<string>27</string>
		<key>playerHeight</key>
		<string>1.70</string>
		<key>playerPosition</key>
		<string>MF</string>
		<key>ownerTeam</key>
		<string>Manchester City</string>
		<key>squadNo</key>
		<integer>21</integer>
		<key>profilePicture</key>
		<string>DavidSilva.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>35</string>
		<key>playerName</key>
		<string>Yaya Toure</string>
		<key>playerNationality</key>
		<string>Ivory Coast</string>
		<key>playerAge</key>
		<string>29</string>
		<key>playerHeight</key>
		<string>1.91</string>
		<key>playerPosition</key>
		<string>MF</string>
		<key>ownerTeam</key>
		<string>Manchester City</string>
		<key>squadNo</key>
		<integer>42</integer>
		<key>profilePicture</key>
		<string>YayaToure.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>36</string>
		<key>playerName</key>
		<string>Samir Nasri</string>
		<key>playerNationality</key>
		<string>French</string>
		<key>playerAge</key>
		<string>25</string>
		<key>playerHeight</key>
		<string>1.78</string>
		<key>playerPosition</key>
		<string>MF</string>
		<key>ownerTeam</key>
		<string>Manchester City</string>
		<key>squadNo</key>
		<integer>8</integer>
		<key>profilePicture</key>
		<string>SamirNasri.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>37</string>
		<key>playerName</key>
		<string>James Milner</string>
		<key>playerNationality</key>
		<string>English</string>
		<key>playerAge</key>
		<string>27</string>
		<key>playerHeight</key>
		<string>1.70</string>
		<key>playerPosition</key>
		<string>MF</string>
		<key>ownerTeam</key>
		<string>Manchester City</string>
		<key>squadNo</key>
		<integer>16</integer>
		<key>profilePicture</key>
		<string>JamesMilner.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>38</string>
		<key>playerName</key>
		<string>Frank Lampard</string>
		<key>playerNationality</key>
		<string>English</string>
		<key>playerAge</key>
		<string>34</string>
		<key>playerHeight</key>
		<string>1.83</string>
		<key>playerPosition</key>
		<string>MF</string>
		<key>ownerTeam</key>
		<string>Chelsea</string>
		<key>squadNo</key>
		<integer>8</integer>
		<key>profilePicture</key>
		<string>FrankLampard.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>39</string>
		<key>playerName</key>
		<string>Eden Hazard</string>
		<key>playerNationality</key>
		<string>Belgium</string>
		<key>playerAge</key>
		<string>22</string>
		<key>playerHeight</key>
		<string>1.70</string>
		<key>playerPosition</key>
		<string>MF</string>
		<key>ownerTeam</key>
		<string>Chelsea</string>
		<key>squadNo</key>
		<integer>26</integer>
		<key>profilePicture</key>
		<string>EdenHazard.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>40</string>
		<key>playerName</key>
		<string>Juan Mata</string>
		<key>playerNationality</key>
		<string>Spanish</string>
		<key>playerAge</key>
		<string>24</string>
		<key>playerHeight</key>
		<string>1.70</string>
		<key>playerPosition</key>
		<string>Mf</string>
		<key>ownerTeam</key>
		<string>Chelsea</string>
		<key>squadNo</key>
		<integer>10</integer>
		<key>profilePicture</key>
		<string>JuanMata.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>41</string>
		<key>playerName</key>
		<string>Oscar</string>
		<key>playerNationality</key>
		<string>Brazilian</string>
		<key>playerAge</key>
		<string>21</string>
		<key>playerHeight</key>
		<string>1.78</string>
		<key>playerPosition</key>
		<string>MF</string>
		<key>ownerTeam</key>
		<string>Chelsea</string>
		<key>squadNo</key>
		<integer>11</integer>
		<key>profilePicture</key>
		<string>Oscar.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>42</string>
		<key>playerName</key>
		<string>Theo Walcott</string>
		<key>playerNationality</key>
		<string>English</string>
		<key>playerAge</key>
		<string>24</string>
		<key>playerHeight</key>
		<string>1.70</string>
		<key>playerPosition</key>
		<string>MF</string>
		<key>ownerTeam</key>
		<string>Arsenal</string>
		<key>squadNo</key>
		<integer>32</integer>
		<key>profilePicture</key>
		<string>TheoWalcott.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>43</string>
		<key>playerName</key>
		<string>Jack Wilshere</string>
		<key>playerNationality</key>
		<string>English</string>
		<key>playerAge</key>
		<string>21</string>
		<key>playerHeight</key>
		<string>1.72</string>
		<key>playerPosition</key>
		<string>MF</string>
		<key>ownerTeam</key>
		<string>Arsenal</string>
		<key>squadNo</key>
		<integer>10</integer>
		<key>profilePicture</key>
		<string>JackWilshere.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>44</string>
		<key>playerName</key>
		<string>Mikel Arteta</string>
		<key>playerNationality</key>
		<string>Spanish</string>
		<key>playerAge</key>
		<string>31</string>
		<key>playerHeight</key>
		<string>1.75</string>
		<key>playerPosition</key>
		<string>MF</string>
		<key>ownerTeam</key>
		<string>Arsenal</string>
		<key>squadNo</key>
		<integer>6</integer>
		<key>profilePicture</key>
		<string>MikelArteta.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>45</string>
		<key>playerName</key>
		<string>Santi Cazorla</string>
		<key>playerNationality</key>
		<string>Spanish</string>
		<key>playerAge</key>
		<string>28</string>
		<key>playerHeight</key>
		<string>1.68</string>
		<key>playerPosition</key>
		<string>MF</string>
		<key>ownerTeam</key>
		<string>Arsenal</string>
		<key>squadNo</key>
		<integer>19</integer>
		<key>profilePicture</key>
		<string>SantiCazorla.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>46</string>
		<key>playerName</key>
		<string>Lukas Podolski</string>
		<key>playerNationality</key>
		<string>German</string>
		<key>playerAge</key>
		<string>27</string>
		<key>playerHeight</key>
		<string>1.80</string>
		<key>playerPosition</key>
		<string>FW</string>
		<key>ownerTeam</key>
		<string>Arsenal</string>
		<key>squadNo</key>
		<integer>9</integer>
		<key>profilePicture</key>
		<string>LukasPodolski.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>47</string>
		<key>playerName</key>
		<string>Olivier Giroud</string>
		<key>playerNationality</key>
		<string>French</string>
		<key>playerAge</key>
		<string>26</string>
		<key>playerHeight</key>
		<string>1.91</string>
		<key>playerPosition</key>
		<string>FW</string>
		<key>ownerTeam</key>
		<string>Arsenal</string>
		<key>squadNo</key>
		<integer>12</integer>
		<key>profilePicture</key>
		<string>OlivierGiroud.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>48</string>
		<key>playerName</key>
		<string>Wayne Rooney</string>
		<key>playerNationality</key>
		<string>English</string>
		<key>playerAge</key>
		<string>27</string>
		<key>playerHeight</key>
		<string>1.78</string>
		<key>playerPosition</key>
		<string>FW</string>
		<key>ownerTeam</key>
		<string>Manchester United</string>
		<key>squadNo</key>
		<integer>10</integer>
		<key>profilePicture</key>
		<string>WayneRooney.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>49</string>
		<key>playerName</key>
		<string>Robin Van Persie</string>
		<key>playerNationality</key>
		<string>Netherlands</string>
		<key>playerAge</key>
		<string>29</string>
		<key>playerHeight</key>
		<string>1.83</string>
		<key>playerPosition</key>
		<string>FW</string>
		<key>ownerTeam</key>
		<string>Manchester United</string>
		<key>squadNo</key>
		<integer>20</integer>
		<key>profilePicture</key>
		<string>RobinVanPersie.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>50</string>
		<key>playerName</key>
		<string>Sergio Aguero</string>
		<key>playerNationality</key>
		<string>Argentina</string>
		<key>playerAge</key>
		<string>24</string>
		<key>playerHeight</key>
		<string>1.70</string>
		<key>playerPosition</key>
		<string>FW</string>
		<key>ownerTeam</key>
		<string>Manchester City</string>
		<key>squadNo</key>
		<integer>10</integer>
		<key>profilePicture</key>
		<string>SergioAguero.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>51</string>
		<key>playerName</key>
		<string>Carlos Tevez</string>
		<key>playerNationality</key>
		<string>Argentina</string>
		<key>playerAge</key>
		<string>29</string>
		<key>playerHeight</key>
		<string>1.70</string>
		<key>playerPosition</key>
		<string>FW</string>
		<key>ownerTeam</key>
		<string>Manchester City</string>
		<key>squadNo</key>
		<integer>32</integer>
		<key>profilePicture</key>
		<string>CarlosTevez.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>52</string>
		<key>playerName</key>
		<string>Fernando Torres</string>
		<key>playerNationality</key>
		<string>Spanish</string>
		<key>playerAge</key>
		<string>29</string>
		<key>playerHeight</key>
		<string>1.85</string>
		<key>playerPosition</key>
		<string>FW</string>
		<key>ownerTeam</key>
		<string>Chelsea</string>
		<key>squadNo</key>
		<integer>9</integer>
		<key>profilePicture</key>
		<string>FernandoTorres.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>53</string>
		<key>playerName</key>
		<string>Demba Ba</string>
		<key>playerNationality</key>
		<string>Senegal</string>
		<key>playerAge</key>
		<string>27</string>
		<key>playerHeight</key>
		<string>1.89</string>
		<key>playerPosition</key>
		<string>FW</string>
		<key>ownerTeam</key>
		<string>Chelsea</string>
		<key>squadNo</key>
		<integer>29</integer>
		<key>profilePicture</key>
		<string>DembaBa.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>54</string>
		<key>playerName</key>
		<string>Luis Suarez</string>
		<key>playerNationality</key>
		<string>Uruguay</string>
		<key>playerAge</key>
		<string>26</string>
		<key>playerHeight</key>
		<string>1.80</string>
		<key>playerPosition</key>
		<string>FW</string>
		<key>ownerTeam</key>
		<string>Liverpool</string>
		<key>squadNo</key>
		<integer>7</integer>
		<key>profilePicture</key>
		<string>LuisSuarez.jpeg</string>
	</dict>
	<dict>
		<key>playerId</key>
		<string>55</string>
		<key>playerName</key>
		<string>Daniel Sturridge</string>
		<key>playerNationality</key>
		<string>English</string>
		<key>playerAge</key>
		<string>23</string>
		<key>playerHeight</key>
		<string>1.88</string>
		<key>playerPosition</key>
		<string>FW</string>
		<key>ownerTeam</key>
		<string>Liverpool</string>
		<key>squadNo</key>
		<integer>15</integer>
		<key>profilePicture</key>
		<string>DanielSturridge.jpeg</string>
	</dict>
</array>
</plist>
